@charset "UTF-8";


/* CSS FOR CONTACT_US PAGE*/
.contactus-boby{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: #137852;
	
}
.contactus-form{
	left: 50%;
    top: 50%;
    width:30%;
    border:2px solid #c9b6b6;
    position: absolute;
	transform: translate3d(-50%, -50%, 0);
}
.contactus-form div{
	margin-left: 5%;
	margin-right:5%;
	margin-bottom: 40px;
	margin-top: 40px;
}
.para{
	margin-bottom: 5px;
}

.contactus-form input[type="text"]{

	width: 100%;
	padding: 12px 20px;
	border: 2px solid #3498db;
	margin: 8px 0;
	box-sizing: border-box;
}
.contactus-form input[type="submit"]{
	
	margin-left: 37%;
}

.contactus-form textarea{

	width: 100%;
	padding: 12px 20px;
	border: 2px solid #3498db;
	
	box-sizing: border-box;
}

/*CSS FOR LOGIN-*/
.login-body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

.login-form{
	width: 300px;
	padding:40px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background: #191919;
	text-align: center;
}

.login-form h1{
	color:white;
	text-transform: uppercase;
	font-weight: 500;
}

.login-form input[type="text"],
.login-form input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width:200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition :0.25s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}

.login-form input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;	
	outline: none;
	color: white;
	cursor:pointer;
	border-radius: 24px;
	transition :0.25s;
}
.login-form input[type="submit"]:hover{
	background: #2ecc71;
}

/* CSS FOR TABLE UNDER REQUESTS*/
.table-position{
	display: flex;
	justify-content: center;
  	align-items: center;
  	
}
.content-table{
	border-collapse: collapse;
	margin:25px 0;
	font-size: 1em;
	min-width: 700px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	
} 
.content-table	thead tr{
	background-color: #009879;
	color : #ffffff;
	text-align: left;
	font-weight: bold;
}
	
.content-table th,
.content-table tr{
	
	padding: 12px 15px;
	
}
.content-table tbody tr{
	border-bottom:1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #009879;
}
.show-form input[type="submit"] {
	background: #9B1F7A;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin-left: 20%;
}
.show-form input[type="submit"]:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




